*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style-type: none;
    font-family: 'Sevillana', cursive;

}

body{
    background-image: url(/img/fast-food-seamless-background-illustration-simple-restaurant-menu-background-vector.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

.logo-img img{
    width: 100%;
    max-width: 25%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239,210,118,255)
}

.navbar a ul {
    display: flex;
}

.navbar a ul li{
  margin-left: 10px;
  font-family: 'Sevillana', cursive;
  color: azure;
}

.main-info{
    width: 100%;
    background-color: rgb(255, 147, 108);
    padding-bottom: 2%;
    color: aliceblue;
    text-align: center;
    padding-top: 3%;
}

.food-inderigient{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 4%;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    background-color:rgb(255, 147, 108);
    text-align: center;
    padding-top: 4%;
}